* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    
}

#banner {
    background-image: url('../img/banner_bg.jpg');
    background-size: cover;
    height: 400px;
}

h3 {
    background-color: aquamarine;
}

h4 {
    font-family: "Roboto", sans-serif;
    color: red;
}

h4 {

    color: purple;
}

p {
    font-family: "Nunito", sans-serif;
    color: black;
}

#p-sola {

    color: pink;
}


.ofertas {

    color: beige;
    background-color: brown;
}

header {

    background-image: url("banner-bg.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;
    

}

nav {

    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    

}

main {

    width: 100%;
    

}

img {
    width: 20%;
}

section {

    text-align: center;
}

#sector-imagen {

    width: 500px;
    padding-top: 50px;
}

h2 {

    display: inline;
}

h2:hover {

    color: chartreuse;
}

h1 {

    display: inline;
}

a {

    display: block;
}



.cambio-inline li {
    display: inline;
}

.cambio-inline li:hover {
    color: brown;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

#display3 {
    display: none;
}

/*.imagenChau:hover {

    display: none;
}*/

#bordes1 {

    width: 90px;
    height: 90px;
    margin: 50px;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    border-radius: 2px;
    position:relative;
    left: 120px;
}


#bordes2 {

    width: 90px;
    height: 90px;
    margin: 70px;
    padding: 2px;
    border-width: 3px;
    border-style: solid;
    border-color: red;
    border-radius: 2px;
}

.container {width: 800px; height: 400px; background-color: bisque;}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}


.item {

    width: 90px;
    height: 90px;
    background-color: red;
    display: inline-block;
}

.item-1 {

    background-color: blueviolet;
    color: white;
}

.item-2 {

    background-color: chartreuse;
   
    
}

.item-3 {

    background-color: cornflowerblue;
}


